<%= content_for :page_title, 'RCCG Overcomers House | Torquay - Home' %>

<!----- SLIDES START --->
<div class="row">
   <div class="content" id="slide1">
     <div class="parallax-caption">
       <h1 class="dif-font"style='margin-top:15%';>Welcome</h1>
       <a type="button" class="btn btn-info btn-outline" style="visibility:hidden;" href="">RCCG Overcomers House</a>
       <br><h1 class="roh"><span id="top-arrow" class="glyphicon glyphicon-chevron-down"></span>
       <br>RCCG Overcomers House</h1>
     </div>
   </div>
</div>

  <div class="row content" id="slide2">
  <div class="col-lg-4 col-md-4 hidden-sm hidden-xs text-center">
     <%= cl_image_tag("pastor_adeboye1_ljqb4h.png", :crop => :fill, :width => 120, :dpr => :auto, :responsive_placeholder => "blank", :height => 120, :radius => 20, :gravity => 'face', :alt => "General Overseer") %><h4 class="author_name_gray">General Overseer</h4>
  </div>
   <div class="quotes_container col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
     <h3 class="quotes">“And they overcame him by the blood of the Lamb, and by the word of their testimony..." Rev 12:11</h3>
   </div>
      <cleafix>
          <div class="text-center">
            <%= link_to "Learn More", about_page_path %>
          <br>
          </div>
     </cleafix>
 </div>


<div class="row">
 <div id="slide3">
   <div class="content col-lg-12 col-md-12">
     <div class="quotes_container">
       <h3 class="quotes text-center">Connect</h3>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4">
           <h2>Service Days</h2>
           <hr>
           <ul>
             <li>Sunday School</li>
                <p>10.30am - 11.30am <br>(Every Sunday)</p>
              <li>Sunday Celebration Service</li>
              <p>10.30am - 12.30pm</p>
              <li>First Sunday of The Month</li>
                <p>Thanksgiving Service <br>10.30am - 12.30pm </p>
            </ul>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
           <h2>Groups</h2>
           <hr>
           <ul>
             <li>Music</li>
             <li>Evangelism</li>
             <li>Multimedia</li>
             <li>Welfare</li>
             <li>Singles</li>
             <li>Men</li>
             <li>Women</li>
             <li><a href="/ministries">See all...</a></li>
            </ul>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
           <h2>Contact</h2>
           <hr>
           <ul>
             <li>Church Address <span class="glyphicon glyphicon-home"></span></li>
             <p>Torquay Boys' Grammar School<br>
               Shiphay Manor Drive, <br>
               Torquay, TQ2 7EL</p>
             <li><%= link_to 'The Pastor', pastor_message %> <span class="glyphicon glyphicon-envelope"></span></li>
             <li>Share Testimony <span class="glyphicon glyphicon-pencil"></span></li>
             <li>Prayer Request <span class="glyphicon glyphicon-send"></span></li>
            </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<div class="row content" id="slide4">
  <div class="col-lg-4 col-md-4 hidden-sm  text-center">
   <%= cl_image_tag("uncle_femi_jpepzq.jpg", :crop => :fill, :width => 120, :dpr => :auto, :responsive_placeholder => "blank", :height => 120, :radius => 20) %> <h4 class="author_name_gray">Anthony &amp; Bisi Ajayi </h4>
 </div>
 <div class="quotes_container col-lg-8 col-md-8 col-sm-12 text-center">
   <h3 class="quotes">"Jesus Christ is the same yesterday and today and forever." Heb 13:8 </h3>
 </div>

</div>

<div class="row">
 <div id="slide5">
   <div class="content col-lg-12 col-md-12 hidden-sm hidden-xs">
     <div id="christmas_tree"> </div>
     <div id="snowflakes1"></div>
     <div id="snowflakes2"></div>
     <h2>MERRY</h2>
     <h1>CHRISTMAS</h1>
     <div id="divider"> </div>
     <h3>HAPPY NEW YEAR </h3>
     <div id="ribbon"></div>
     <div id="new_year"> </div>
   </div>
 </div>
</div>

 <!----- SLIDES END --->

 <!-- <div class="section">
  <div class="inner">
    <!-- your content here -->
  </div>
</div>
